---
title: Melharucos
description: Melharucos - 27-летний стример. На его канале вы сможете видеть регулярные стримы по Майнкрафту и другим креативным играм.
---
<div class="animate">
    <h1 class="title">Melharucos</h1>
    <div class="panes">
        <div class="pane" id="pane-1">
            <div class="title">Information</div>
            <div class="description">
                Меня зовут Владимир, мне 27 лет, город -
                Тольятти. На этом канале вы сможете видеть регулярные стримы по
                Майнкрафту и другим креативным играм.
            </div>
        </div>
        <div class="pane" id="pane-2">
            <div class="title">Curse Client</div>
            <div class="description">
                Голосовой чат, сервера для сообществ и легкий лаунчер для создания сборок Майнкрафта.
                <div></div>
                <div class="download">
                    <a href="//www.curse.com/MELHARUCOS">
                        <i class="fa fa-download"></i>
                        <span class="label">Скачать</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="pane" id="pane-3">
            <div class="title">Subscribe</div>
            <div class="description">
                Подписка - это возможность комфортно смотреть стримы и
                получать дополнительные плюшки:
                <ul>
                    <li>Отличительный значок "Лицо Мэла"</li>
                    <li>Уникальные смайлы: melJ melWoow, melLazuli, melCookie, melFail, melYoba, melPushka</li>
                    <li>Участие в специальных "Днях подписчика", когда мы с вами будем играть вместе</li>
                    <li>Возможность писать в чат, когда он отключен</li>
                    <li>Хорошая карма и личное благославление от Мэла!</li>
                    <li>Сервер подписчиков! Вся информация по серверу в группе - VK-Group</li>
                </ul>
            </div>
        </div>
        <div class="pane" id="pane-4">
            <div class="title">Donate</div>
            <div class="description">
                Если вам нравятся мои стримы, и хотите чтобы их было как можно
                больше, то вы можете дополнительно поддержать меня. При
                донейшене свыше 50руб ваше пожертвование будет появляться на
                стриме с приятной анимацией, а сообщение прочитает робот.
                <div></div>
                В бро дня попадают все донейшены сделанные в течении стрима.
                В бро месяца попадают все донейшены сделанные в течении месяца
                (от 100руб)
                <div></div>
                Не забудьте подписаться, чтобы я знал кого благодарить!
                <ul>
                    <li>
                        <i class="fa fa-external-link"></i>
                        <a href="http://www.donationalerts.ru/r/melharucos">Text to Speech Пожертвования (все системы кроме PayPal)</a>
                    </li>
                    <li>
                        <i class="fa fa-external-link"></i>
                        <a href="https://www.twitchalerts.com/donate/melharucos">Text to Speech Пожертвования через PayPal</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pane" id="pane-5">
            <div class="title">FAQ</div>
            <div class="description">
                <ul>
                    <li>Наушники? - Plantronics Gamecom 780.</li>
                    <li>Домашнее животное? - Есть. </li>
                    <li>Откуда крипер? - Флоп подарил, же!</li>
                    <li>Где работаешь? - Временно безработный. Последним местом работы был музей. Было очень интересно</li>
                    <li>Почему "melharucos"? - Интересное португальское слово означающее неожиданную и красивую часть женского тела</li>
                    <li>А кирка откуда? - Флоп подарил, же!</li>
                    <li>Когда Хэппи Крипер? - Как только я задумаю для этого сэйва что-нибудь особенное</li>
                </ul>
            </div>
        </div>
        <div class="pane" id="pane-6">
            <div class="title">Melharucos PC</div>
            <div class="description">
                <ul>
                    <li>Материнская плата - Asus Z97-K</li>
                    <li>Процессор - i7-4790K</li>
                    <li>Видеоадаптер - GeForce GTX 760</li>
                    <li>Оперативная память - 16 Gb Kingston HyperX Beast</li>
                    <li>Гарнитура - Plantronics Gamecom 780</li>
                    <li>БП - Thermaltake 600W</li>
                </ul>
            </div>
        </div>
        <div class="stream">
            <div class="stream-pane"></div>
            <div class="open" id="open-stream">Открыть окно стрима</div>
        </div>
    </div>
</div>
<div class="copyright">
    &copy; 2016, created by <a href="http://defman.me">Defman</a>
</div>